#one {font-weight: bold; background-color: orangered;}
#two {font-weight: bold; background-color: pink;}
#three {font-weight: bold; background-color: rgb(21, 255, 0)}
#five {background-color: darkgoldenrod;}
#six {background-color: rgb(169, 169, 169);}
.section {background-color: darkgrey;}